@model Todo


<h3>Update new </h3>
<form asp-action="Update">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />

    <label asp-for="description" class="form-label"></label>
    <input asp-for="description" class="form-control" />

    <label asp-for="createdDate" class="form-label"></label>
    <input asp-for="createdDate" class="form-control" />

    <input type="submit" class="btn btn-primary" value="Update Todo" />
</form>

