@model Employee
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2 class="alert alert-danger text-center"> Are you Sure you want to Delete @Model.Name </h2>
<form asp-action="Delete">

    <label asp-for="Name" class="form-Label"></label>
    <input asp-for="Name" class="form-control" readonly />


    <label asp-for="City" class="form-Label"></label>
    <input asp-for="City" class="form-control" readonly />


    <label asp-for="age" class="form-Label"></label>
    <input asp-for="age" class="form-control" readonly />

    <label asp-for="Email" class="form-Label"></label>
    <input asp-for="Email" class="form-control" readonly />

    <label asp-for="Salary" class="form-Label"></label>
    <input asp-for="Salary" class="form-control" readonly />

    <input type="submit" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-light">Back </a>
</form>